*.egg-info
*.pyc
.vscode
outputs
paper
logs
scripts
run_bash.sh
wandb
legged_lab/assets/t1pro/usd/configuration/t1pro_base.usd
legged_lab/assets/t1pro/train_asset/

env/
venv/
.venv/

*.npz        
*.h5
*.pth       
*.pt
runs/        
results/     


